<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h2>Editar Mi Cuenta</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field  :name, class: "form-control input-lg", autofocus: true %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control input-lg", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :direction_id %><br />
            <%= f.collection_select :direction_id, Direction.order(:id), :id, :name, {prompt: "-- Dirección --"}, {class: "form-control"} %>             
          </div>

          <div class="form-group">
            <%= f.label :Foto %><br />
            <%= f.file_field :avatar,  class: "form-control" %>              
          </div>                

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :Contraseña_Actual %> <i>(Ingrese contraseña actual para confirmar cambios)</i><br />
            <%= f.password_field :current_password, class: "form-control input-lg", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label :Nueva_contraseña %> <i>(Dejar en blanco si no desea cambiar)</i><br />
            <%= f.password_field :password, class: "form-control input-lg", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label :Confirmar_Nueva_Contraseña %><br />
            <%= f.password_field :password_confirmation, class: "form-control input-lg", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.submit "Editar", class: "btn btn-primary btn-lg" %> <%= link_to "Cancelar", :back, class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>

    </div> <!-- .col-sm -->
  </div><!-- .row -->
</div><!-- .container -->
